// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@mixin body-font() {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}
@mixin heading-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
