@import "variables";
@import "mixins";
@import "global";
@import "navbar";
@import "masthead";
@import "services";
@import "work";
@import "team";
@import "footer";

@import "bootstrap-overrides";
@import "case-study";
  .contact {

    .form-control{
      padding: 4px 18px;
      border-radius: 25px;
      line-height: 2.5rem;
      border: 2px solid $gray-400;
      transition: all .5s ease-in-out;
    }


textarea{
  min-height: 187px;
}
    .form-control:focus{
      border: 2px solid $primary;
      box-shadow: none;
    }
    button{
      margin-top: 15px;
    }

  }


.team-member .rounded-circle{
  max-width: 300px;
}
